.centered-component {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-group {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.login-group * {
    margin: 0;
}

.login-group > p:first-child {
    font-size: 1.5rem;
    align-self: center;
}

.login-group > p:last-child {
    align-self: center;
}

.username-group, .password-group {
    display: flex;
    justify-content: space-between;
}

#username, #password {
    min-width: 220px;
}
